<p>
   The <small>small element</small><br>
   The <abbr>abbreviation element</abbr> and <abbr title="Title text">abbr element with title</abbr> examples<br>
   The <b>bold element</b> example<br>
   The <cite>citation element</cite> example<br>
   The <code>code element</code> example<br>
   The <del>deleted element</del> example<br>
   The <dfn>definition element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples<br>
   The <em>em element</em> example<br>
   The <i>italic element</i> example<br>
   The image element <img src="http://placehold.it/120x25" alt="image description"> example<br>
   The <ins>insert element</ins> example<br>
   The <kbd>keyboard element</kbd> example<br>
   The <mark>marked element</mark> example<br>
   The <q>quote element <q>inside</q> a q element</q> example<br>
   The <s>strikethrough element</s> example<br>
   The <samp>sample element</samp> example<br>
   The <small>small element</small> example<br>
   The <span>span element</span> example<br>
   The <strong>strong element</strong> example<br>
   The <sub>sub element</sub> example<br>
   The <sup>sup element</sup> example<br>
   The <var>variable element</var> example<br>
   The <u>underline element</u> example
 </p>