---
notes: |
  ##### Usage : `{{> spacer }}`
  ##### Options :
  - **spacer-size** - String ['spacer-xs', 'spacer-sm', 'spacer-md', 'spacer-lg', 'spacer-xl']
---
<div class="spacer{{#if spacer-size }} {{{ spacer-size }}}{{/if}}"></div>
