---
notes: |
  ##### Example : `{{> paragraph class='text-success' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}`
---

{{> paragraph class='text-muted' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}
{{> paragraph class='text-primary' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}
{{> paragraph class='text-success' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}
{{> paragraph class='text-info' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}
{{> paragraph class='text-warning' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}
{{> paragraph class='text-danger' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}