---
notes: |
  ##### Example : `{{> paragraph class='bg-success' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}`
---

{{> paragraph class='bg-primary' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}
{{> paragraph class='bg-success' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}
{{> paragraph class='bg-info' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}
{{> paragraph class='bg-warning' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}
{{> paragraph class='bg-danger' content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." }}