@charset "UTF-8";

/*doc
---
title: Buttons
name: a-buttons-layout
category: Layout - Buttons
---

```html_example
<button type="button" class="btn btn-primary">Primary</button>
```


| Preview                                                        | Class                      |
|----------------------------------------------------------------|----------------------------|
| <button type="button" class="btn btn-default">Default</button> | <code>btn btn-default</code> |
| <button type="button" class="btn btn-primary">Primary</button> | <code>btn btn-primary</code> |
| <button type="button" class="btn btn-success">Success</button> | <code>btn btn-success</code> |
| <button type="button" class="btn btn-info">Info</button>       | <code>btn btn-info</code>    |
| <button type="button" class="btn btn-warning">Warning</button> | <code>btn btn-warning</code> |
| <button type="button" class="btn btn-danger">Danger</button>   | <code>btn btn-danger</code>  |
| <button type="button" class="btn btn-link">Link</button>       | <code>btn btn-link</code>    |
*/


/*doc
---
title: Sizes
name: b-size-button
category: Layout - Buttons
---

```html_example
<p>
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
  <button type="button" class="btn btn-default btn-lg">Large button</button>
</p>
<p>
  <button type="button" class="btn btn-primary">Default button</button>
  <button type="button" class="btn btn-default">Default button</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-sm">Small button</button>
  <button type="button" class="btn btn-default btn-sm">Small button</button>
</p>
<p>
  <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
  <button type="button" class="btn btn-default btn-xs">Extra small button</button>
</p>
```

## Block buttons

```html_example
<p>
  <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
  <button type="button" class="btn btn-default btn-lg btn-block">Block level button</button>
</p>
```
*/


/*doc
---
title: Active / Disabled
name: c-active-disabled
category: Layout - Buttons
---

```html_example
<p>
  <button type="button" class="btn btn-primary btn-lg active">Primary button</button>
  <button type="button" class="btn btn-default btn-lg active">Button</button>
</p>
<p>
  <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Primary button</button>
  <button type="button" class="btn btn-default btn-lg" disabled="disabled">Button</button>
</p>
```
*/