<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width">

    {{#if fabricator}}
      <link rel="stylesheet" href="{{baseurl}}/build/css/styleguide.css">
    {{/if}}
    <link rel="stylesheet" href="{{baseurl}}/build/css/main.css">

    <!--[if lt IE 9]>
      <script src="{{baseurl}}/build/js/polyfills.min.js"></script>
    <![endif]-->
  </head>
  <body>

    {{#if fabricator}}
      {{> f-icons}}
      {{> f-menu}}
      <div class="f-container">
        {{> f-control-bar}}
    {{/if}}

    {% body %}

    {{#if fabricator}}
      </div>
      <script src="{{baseurl}}/build/js/styleguide.min.js"></script>
    {{/if}}
    <script src="{{baseurl}}/build/js/vendors.min.js"></script>
  </body>
</html>